

body {
    margin: 0;
    background: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.container{
    text-align: center;
}

#time{
    color: #14dac9;
    font-family: Brush Script MT;
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

#quote{
    color: rgb(179, 179, 179);
    font-family: fantasy;
    font-size: 5rem;
    font-style: italic;
}
